*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    flex-wrap: wrap;   
}

.navbar
{
    display:block;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo
{
    background-image: url(amazon_logo\ \(2\).png);
    background-size: cover;
    height: 50px;
    width: 100px;

}

.add-1
{
font-size: 15px;
margin-left: 3px;

}
.add-2
{
    margin-left: 18px;

}
.border:hover
{
    padding: 3px;
    border: 1.2px solid white;
}
.search
{
    /* background-color: pink; */
    justify-content: space-evenly;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.search input
{
    padding: 5px;
    width: 100vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    font-family: cursive;
    font-size: 15px;
}
.mg
{
    padding: 4px;

    width: 35px;
    display: inline;
    position: absolute;
    background-color: orange;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    border: none;

}
.all
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    padding: 5px;

}
.mg i{
    
    color: black;
    border: none;
}
.search:hover{
    border:2px solid orange;
}
.language
{
 font-size: 10px;   
}
.p1
{
  font-size: 13px; 
  columns:#cccc
  ; 
}
.p2
{
  font-size: 15px;  
}
.p2 i{
    font-size: 10px;
}
.c1
{
    display: inline;
    font-size: 15px;
}

/* line 2 */

.content
{
   
    height: 40px;
    background-color: rgb(47, 75, 107);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.ops{
    width: 80%;
    font-size: 0.85em;
}
.ops p
{
    display: flex;
    display: inline;
    margin: 15px;
    
}
.ops1
{
    margin-right: 50px;
    font-family: cursive;
    align-items: center;
    font-size: 0.85em;

}
.ops p:hover
{
border: 1px solid white;
padding: 5px;
}
.ops1:hover
{
    border: 2px solid white;
    padding: 5px;
}
.imgs
{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
    width: 100%;
}
.shop-ser
{
    margin: 3px;
    height: 400px;
    display: flex;
    background-color: aliceblue;
    justify-content: space-evenly;
}
.box1
{
    background-image: url(box1_image.jpg);
    background-size: cover;
    height: 380px;
    width: 23%;
    margin: 2px 2px;
    padding: -14px 2px;
    border: 0.50px solid black;

}
.box2
{
    background-image: url(box2_image.jpg);
    background-size: cover;
    height: 380px;
    width: 23%;
    margin: 2px 2px;
    padding: -14px 2px;
    border: 0.50px solid black;

}
.box3
{
    background-image: url(box3_image.jpg);
    background-size: cover;
    height: 380px;
    width: 23%;
    margin: 2px 2px;
    padding: -14px 2px;
    border: 0.50px solid black;

}.box4
{
    background-image: url(box4_image.jpg);
    background-size: cover;
    height: 380px;
    width: 23%;
    margin: 2px 2px;
    padding: -14px 2px;
    border: 0.50px solid black;

}
.box5
{
    background-image: url(box5_image.jpg);
    background-size: cover;
    height: 380px;
    width: 23%;
    margin: 2px 2px;
    padding: -14px 2px;   
     border: 0.50px solid black;

}
.box6
{
    background-image: url(box6_image.jpg);
    background-size: cover;
    height: 380px;
    width: 23%;
    margin: 2px 2px;
    padding: -14px 2px;
    border: 0.50px solid black;

}
.box7
{
    background-image: url(box7_image.jpg);
    background-size: cover;
    height: 380px;
    width: 23%;
    margin: 2px 2px;
    padding: -14px 2px;
    border: 0.50px solid black;
}
.box8
{
    background-image: url(box8_image.jpg);
    background-size: cover;
    height: 380px;
    width: 23%;
    margin: 2px 2px;
    padding: -14px 2px;
    border: 0.50px solid black;
}
.box1 h2
{
padding: 5px;
color: rgb(18, 1, 1);
width: 500px 200px;
background-color: white;
font-family: cursive;
font-size: 25px;
text-align: center;

}
.box2 h2
{
padding: 5px;
color: rgb(18, 1, 1);
width: 500px 200px;
background-color: white;
font-family: cursive;
font-size: 25px;
text-align: center;

}
.box3 h2
{
padding: 5px;
color: rgb(18, 1, 1);
width: 500px 200px;
background-color: white;
font-family: cursive;
font-size: 25px;
text-align: center;

}
.box4 h2
{
padding: 5px;
color: rgb(18, 1, 1);
width: 500px 200px;
background-color: white;
font-family: cursive;
font-size: 25px;
text-align: center;

}

.box5 h2
{
padding: 5px;
color: rgb(18, 1, 1);
width: 500px 200px;
background-color: white;
font-family: cursive;
font-size: 25px;
text-align: center;

}
.box6 h2
{
padding: 5px;
color: rgb(18, 1, 1);
width: 500px 200px;
background-color: white;
font-family: cursive;
font-size: 25px;
text-align: center;

}
.box7 h2
{
padding: 5px;
color: rgb(18, 1, 1);
width: 500px 200px;
background-color: white;
font-family: cursive;
font-size: 25px;
text-align: center;

}
.box8 h2
{
padding: 5px;
color: rgb(18, 1, 1);
width: 500px 200px;
background-color: white;
font-family: cursive;
font-size: 25px;
text-align: center;
}

.imgs p
{
font-family: cursive;
font-size: 10px;
width: 43%;
background-color: aliceblue;
}
.imgs
{
    bottom: px;

}